<ion-header>
  <ion-toolbar>
    <ion-title>fruits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="primary" (click)="ocultarFotos()">{{ocultarFoto}}</ion-button>
  <ion-card *ngFor="let fruit of fruitsList">
    <ion-item>
      <img *ngIf="showImages" src="../../assets/fruits/{{fruit.image}}" alt="foto de fruta"/>
      <ion-label>{{fruit.name}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="showFruit(fruit)">View</ion-button>
    </ion-item>
  
    <ion-card-content>
     <p>{{fruit.description}}</p>
     <br/>
     <p><a *ngIf="fruit.link else noLink" href="{{fruit.link}}">LINK</a></p>

     <ng-template #noLink>
       <p>No hay link</p>
     </ng-template>

    </ion-card-content>
  </ion-card>
  <span *ngIf="indiceSeleccionado">{{indiceSeleccionado}}</span> 
  <ion-button color="dark" routerLink="/home">Home</ion-button>
  <ion-button color="danger" expand="full" (click)="destroyAll()">DELETE ALL</ion-button>
  <ion-button color="success" expand="full" (click)="recoverAll()">RECOVER ALL</ion-button>
  <div *ngIf="fruitsList.length===0" > NO HAY FRUTAS</div>
</ion-content>
