<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{etiqueta}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="secondary" routerLink="/fruits">Fruits</ion-button>
</ion-content>
